header#header
  .container.py-3.header-content
    h2#site-name
      a(href="/") MV Wines
    nav#main-menu
      ul
        li
          a(href="/") Home
        li
          a(href="/shop") Shop
        li
          a(href="/admin") Admin
